@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@function background-illumination($hex, $opacity) {
  @return rgba(red($hex), green($hex), blue($hex), $opacity);
}

$border-image: url('/img/frame-hd.png');
$border-outset: 6px;
$border-width: 12px;

$button-font: 'Press Start 2P', system-ui;

$button-shine: background-illumination(#fff, 0.3);
$button-shadow: background-illumination(#000, 0.2);
$button-hover-shine: background-illumination(#fff, 0.4);
$button-hover-shadow: background-illumination(#000, 0.3);

$button-green: #4bb244;
$button-red: #f22561;
$button-yellow: #f2c019;
$button-blue: #4eb6d9;

$colors: ('green', $button-green), ('red', $button-red),
  ('yellow', $button-yellow), ('blue', $button-blue);

$polygon-points: (
  0 calc(#{$border-outset} * 2),
  calc(100% - (#{$border-outset} * 2)) calc(#{$border-outset} * 2),
  calc(100% - (#{$border-outset} * 2)) #{$border-outset},
  calc(100% - #{$border-outset}) #{$border-outset},
  calc(100% - #{$border-outset}) 0,
  100% 0,
  100% calc(#{$border-outset} * 2),
  calc(100% - #{$border-outset}) calc(#{$border-outset} * 2),
  calc(100% - #{$border-outset}) 100%,
  0 100%
);

@function generate-clip-path($points) {
  $value: 'polygon(';

  @each $point in $points {
    $value: $value + $point + ', ';
  }

  $value: unquote(str-slice($value, 1, str-length($value) - 2));
  @return $value + ')';
}

.bit16-button {
  position: relative;
  border-image: $border-image;
  background-color: $button-green;
  border-image-repeat: initial;
  padding: 4px 18px;
  border-image-slice: 12;
  border-width: $border-width;
  font-size: 24px;
  border-image-outset: $border-outset;
  cursor: pointer;
  font-family: $button-font;
  line-height: 0.6;

  @each $name, $color in $colors {
    &.has-#{$name}-background {
      background-color: $color;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: 0;

    width: calc(100% + (#{$border-outset} * 3));
    height: calc(#{$border-outset} * 3);
  }

  &::before {
    background-color: $button-shadow;
    left: calc(0% - #{$border-outset});
    top: calc(100% - (#{$border-outset}));
    clip-path: generate-clip-path($polygon-points);
  }

  &::after {
    background-color: $button-shine;
    right: calc(0% - #{$border-outset});
    bottom: calc(100% - (#{$border-outset}));
    transform: rotate(0.5turn);
    clip-path: generate-clip-path($polygon-points);
  }

  &:hover {
    &::before {
      background-color: $button-hover-shadow;
    }
    &::after {
      background-color: $button-hover-shine;
    }
  }

  &:active {
    &::before {
      background-color: $button-shine;
    }
    &::after {
      background-color: $button-shadow;
    }
  }
}
